<div class="banner-home">
  <a href="https://theheadspace.net/collections/sam-farrand">
    <div class="bg"></div>
    <div class="text-wrapper">
      <h1>Sam Farrand<br>50% Off Sale</h1>
      <div class="caption">
        <h2>Closeout Pricing</h2>
        <h2>Production Ceased</h2>
      </div>
    </div>
  </a>
</div>


<div style="background-image:url('https://cdn.shopify.com/s/files/1/1898/4303/files/galaxy.jpg?8504242719722020597'); padding: 20px 5px;">
<div style="width:100%;"><center><h1 style="color:#fff; font-size:47px; background-color:#000;">Clearance Event <br>
</h1></center></div>
<br><center><div>
<a href="https://theheadspace.net/collections/women-clearance" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1898/4303/files/womenclearance2.png?14028342540104115512"></a>   <a href="https://theheadspace.net/collections/men-clearance" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1898/4303/files/menclearance2.png?14028342540104115512"></a>
</div></center>
</div>
