<div class="banner-home">
  <div class="bg"></div>
  <div class="text-wrapper">
    <h1>Sam Frrand 50% Off Sale</h1>
    <div class="caption">
      <h2>Closeout Pricing</h2> |
      <h2>Prdouction Ceased</h2>
    </div>
  </div>
</div>
