<div class="banner-home">
  <div class="row-fluid">
    <div class="col-md-6">
      <a class="farrand" href="https://theheadspace.net/collections/sam-farrand">
        <div class="bg"></div>
        <div class="text-wrapper">
          <h1>Sam Farrand<br>50% Off Sale</h1>
          <div class="caption">
            <h2>Closeout Pricing</h2>
            <h2>Production Ceased</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a class="hoodies" href="https://theheadspace.net/collections/hoodies">
        <div class="bg"></div>
        <div class="text-wrapper">
          <h1>Up to 65% Off All Hoodies</h1>
        </div>
      </a>
    </div>
  </div>
</div>
